<!DOCTYPE html>



<head>

<html>
 <html>
  <head>
    <title>Lisa Dolley Photographie</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag "application" %>
  </head>
  
  <div id="page-wrapper">
  

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>


   

 
    </div>

  <%= csrf_meta_tags %>

</head>

<body>

  <%= yield %>
  

</body>

</html>